.Date_lisson_Header ul li{
    list-style:inside;
}
.title_Date_lisson_Header{
    color: var(--color--green);
    /* text-align: center; */
}

.levels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.levels ul{
    width: 26rem;
    border-radius: 20px;
    padding: 10px;
    border: 2px var(--color--green) solid;
    height: 48rem;
    background: linear-gradient(-20deg, #f9f9f9, #e1f2e7);
}
@media (max-width: 768px){
    .levels ul{
        height: 40rem;
    }
}
.levels ul h2{
    color: var(--color--green);
    margin-bottom: 20px;
}
.levels ul li{
    font-size: var(--sec--size);
    line-height: 2;

}
.levels ul li::marker{
    color: var(--color--green);
}
.levels ul p{
    font-size: var(--sec--size);
    text-align: justify;
    line-height: 2;
}