/* LoginPage.css */

/* نمط حاوية تسجيل الدخول */
.login-container, .dashboard-container {
    background-color: #e0f7e0; /* لون أخضر خفيف */
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2, .dashboard-container h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

.login-container input, .dashboard-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-container button, .dashboard-container button {
    background-color: #4CAF50; /* لون الزر */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover, .dashboard-container button:hover {
    background-color: #45a049; /* لون الزر عند التمرير */
}
