.navbar-brand img {
  width: 7rem;
  margin-left: 8px;
  background-color: white;
  border-radius: 60px;
}

.item1 {
  transition-delay: 100ms;
}

.item2 {
  transition-delay: 200ms;
}

.item3 {
  transition-delay: 300ms;
}

.item4 {
  transition-delay: 400ms;
}

.item5 {
  transition-delay: 500ms;
}

.item6 {
  transition-delay: 600ms;
}

.item7 {
  transition-delay: 700ms;
}

.item8 {
  transition-delay: 800ms;
}

.item9 {
  transition-delay: 900ms;
}

.navbar {
  flex-direction: row-reverse;
}

.navbar .buttons {
  flex-direction: row-reverse;
}

.navbar ul li a svg {
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color--green);
}

.navbar ul li a {
  font-weight: bold;
  font-size: var(--sec--size);
  color: var(--green_blue);
  text-decoration: none;
}

.navbar-collapse,
.collapse,
.show {
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between;
}

@media screen and (min-width: 991px) {
  .navbar button {
    justify-content: center;
    display: flex;
    width: 9rem;
  }

}

.register_nav {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: var(--color--green);
  width: 24vh;
  font-size: 18px;
  font-weight: bold;
  border: 2px var(--color--green) solid;
  /* transition: 0.4s; */
}

/* .register_nav:hover{
    background-color: white;
    color: var(--color--green);
    border: 2px var(--color--green) solid;
}
.login_nav:hover{
    background-color: var(--color--green);
    color: white;
    border: 2px var(--color--green) solid;
} */

.login_nav {
  background-color: white;
  transition: 0.4s;
  border: none;
  font-weight: bold;
  padding: 10px;
  width: 24vh;
  border-radius: 20px;
  font-size: 18px;
  color: white;
  color: var(--color--green);
  border: 2px solid var(--color--green);
}

.dropdown-toggle::after {
  display: none;
}

.navbar-toggler {
  margin-right: 8px;
}

.dropdown-menu a {
  text-align: center;
  border-bottom: 1px solid green;
}

@media screen and (max-width: 990px) {
  .user-info button{
    margin: 0 5px;
    padding-bottom: 5.2px;
  }
  .collapse {
    /* flex-direction: column-reverse !important; */
    /* display: flex; */
    /* align-items: start; */
    /* margin-top: 20px; */
  }

  .navbar ul {
    margin: auto;
  }

  .navbar ul {
    background-color: whitesmoke;
  }

  .navbar ul li {
    padding: 6px;
    display: flex;
    align-items: center;
    text-align: right;
    border-bottom: 1px solid black;
  }

  .navbar-collapse li {
    margin-bottom: 6px;
  }

  .navbar-brand img {
    width: 4rem;
    margin-top: 7px;
  }
}

@media screen and (min-width: 990px) {
  .buttons_mobile {
    display: none;
  }

  .buttons_pc {
    display: block;
  }

.buttons_mobile button{
  margin: 10px;
}

  /* .buttons button{
    margin: 10px;
   } */
}

@media screen and (max-width: 1200px) {

  .buttons_mobile,
  .buttons {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .buttons_pc {
    display: none;
  }

  .register_nav {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .group_1 {
    margin-bottom: 15px;
  }

  .group_2 {
    margin-bottom: 15px;
  }

  .group_1,
  .group_2,
  .group_3 {
    display: inline-flex;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
    align-items: baseline;
  }

  .user-info {
    text-align: center;
  }

  .user-info-buttons {
    display: flex;
    align-items: center;
  }

  .user-name {
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    right: 10px;
    bottom: -30px;
  }

  .login_nav {
    font-size: 14px;
    padding: 0;
    height: 2.5rem;
    width: 7rem;
    margin: 0;
  }

  .register_nav {
    margin: 0;
    font-size: 14px;
    padding: 0;
    height: 2.5rem;
    width: 7rem;
  }
}

.navbar-brand {
  margin: 0;
}

.user-info {
  text-align: center;
}

.user-name {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .register_nav {
    width: 7rem;
  }

  .login_nav {
    width: 7rem;
  }
}

@media screen and (max-width: 330px) {
  .register_nav {
    width: 5rem;
  }

  .login_nav {
    width: 5.5rem;
  }
}

.user-info-buttons {
  display: flex;
}

.user-info button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.buttons_pc button{
  margin:10px 0;
}



.navbar button:focus:not(:focus-visible) {
  box-shadow: none;
}

.navbar-toggler {
  position: relative;
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #0d5a25;
  background-image: none;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #0d5a25;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.navbar-toggler-icon::before {
  top: -8px;
  left: 0;
}

.navbar-toggler-icon::after {
  top: 8px;
  left: 0;
}

.navbar-toggler.open .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler.open .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.open .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}


.animated-slide {
  animation: slideDown 0.6s ease-in-out forwards;
}

.animated-hide {
  /* animation: slideUp 0.6s ease-in-out forwards; */
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.DAsh_teacher {
  border-bottom: none !important;
}