.user-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}


.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.user-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.user-card h2 {
    margin-bottom: 10px;
    color: var(--light--green);
    text-align: center;
}

.user-card p {
    font-size: 1rem;
    margin: 5px 0;
    color: #666;
}

.user-card strong {
    color: #333;
}
