.Register h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color--green);
}
.Register p{
  font-size: var(--sec--size);
  line-height: 2;
}
.Register ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-left: 0;
}
.Register ul li {
  border: 2px solid var(--color--green);
  padding: 10px;
  border-radius: 20px;
  width: 23rem;
  height: 19rem;
}
@media (max-width: 768px){
  .Register ul li{
    height: 16rem;
    margin: 15px;
  }
}
.Register ul li p{
  font-size: var(--sec--size);

}
.step1,.step2,.step3,.step4,.step5{
    position: relative;
}


.step1::before {
  right: -25px;
  top: -15px;
  content: "1";
  background-color: var(--color--green);
  position: absolute;
  color: white;
  width: 40px;
  border-radius: 50px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}
.step2::before {
  right: -25px;
  top: -15px;
  content: "2";
  background-color: var(--color--green);
  position: absolute;
  color: white;
  width: 40px;
  border-radius: 50px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}
.step3::before {
  right: -25px;
  top: -15px;
  content: "3";
  background-color: var(--color--green);
  position: absolute;
  color: white;
  width: 40px;
  border-radius: 50px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}
.step4::before {
  right: -25px;
  top: -15px;
  content: "4";
  background-color: var(--color--green);
  position: absolute;
  color: white;
  width: 40px;
  border-radius: 50px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}
.step5::before {
  right: -25px;
  top: -15px;
  content: "5";
  background-color: var(--color--green);
  position: absolute;
  color: white;
  width: 40px;
  border-radius: 50px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}
