.Our_Study_materials ul {
    padding-left: 0;
}
.Our_Study_materials h3{
    color: var(--color--green);
    margin-bottom: 20px;
    font-weight: bold;
}
.Our_Study_materials ul li{
    color: var( --dark_green);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    list-style:inside;

}